*{
    margin:0;
    font-family:'Times New Roman', Times, serif;
}

body, html {
    height: 100%;
    margin: 0;
  }

.header{
    background-image: url(../images/donation13.jpg);
    background-color: rgb(65, 63, 63);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
    text-align: center;
}
.header-title{
    position: absolute;
    top: 30%;
    left: 22%;
    font-size: 100px;
    font-weight: bold;
}
.header-description{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:30px;
    text-align: center;
    margin: 35px 0;
}

.btn-primary{
    position: absolute;
    top: 72%;
    left: 44.9%;
    background-color:rgb(255, 89, 89);
    color: white;
    font-size: 30px;
    border: 0;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 27px;
    height: 64px;
}

.donate-today-section{
    text-align: center;
}

.donate-today-title{
    padding-top: 100px;
    font-size: 60px;
    font-weight: bold;
}

.ptitle-description{
    color: rgb(151, 150, 150);
    margin-top: 30px;
    font-size: 30px;

}

.btn .btn-taka{
    margin-top: 50px;
    margin-right: 20px;
    padding: 30px;
    background-color: rgb(241, 241, 241);
    color: rgb(68, 67, 67);
    border:0;
    border-radius: 5px;
    width: 15%;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    height: 200px;

}

.btn-taka:hover {
    background-color:rgb(255, 232, 232);
    color: rgb(255, 89, 89);
    border: 1px solid rgb(255, 89, 89);
  }

.text{
 text-align: center;
 border-style: none;
 width: 50%;
 margin-top: 30px;
 font-size: 30px;
 color: antiquewhite;

}

.btn-secondary{
    background-color:rgb(255, 89, 89);
    color: white;
    font-size: 30px;
    border: 0;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 27px;
    height: 64px;
    margin-top:15px;
}